ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.edition-hint {
  font-size: 0.8em;
  font-weight: bold;
}

.is-next {
  border: 3px solid rgb(114, 66, 66);
}