ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.is-next .table-container {
  border: 3px solid rgb(114, 66, 66);
  width: fit-content;
}

.table-container {
  border: 3px solid transparent;
  width: fit-content;
  margin: auto;
}

.status {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
