@media only screen and (min-width: 801px) {
    .board-container {
        width: 45%;
        display: inline-block;
        padding-left: 2%;
    }
}

@media only screen and (max-width: 800px) {
    .board-container {
        width: 100%;
        display: inline-block;
        padding-left: 2%;
    }
}


.next-turn {
    font-weight: bold;
}

.surrender {
    float: right;
    margin-right: 50px;
    padding: 10px;
}
