@media only screen and (min-width: 921px) {
    .board-container {
        width: 50%;
        display: inline-block;
    }
}

@media only screen and (max-width: 920px) {
    .board-container {
        width: 100%;
        display: inline-block;
    }
}

.next-turn {
    font-weight: bold;
    margin-left: 2%;
}

.surrender {
    float: right;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}
