.home h1 {
    text-align: center;
}

.home .name-container {
    width: 100%;
    text-align: center;
}

.home .name-container p {
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (min-width: 921px) {
    .home .name-container input {
      width: 440px;
    }
  }
  
  @media only screen and (max-width: 920px) {
    .home .name-container input {
      width: 80vw;
    }
  }

.home .play {
    width: 100%;
    padding: 10px;
}

.input-name{
    margin-left: 5px;
}
