.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.empty {
  background: hsl(234, 85%, 61%);
}

.invalid {
  background: hsl(234, 85%, 61%);
}

.edition .invalid {
  background: hsl(233, 60%, 81%) !important;
  cursor: not-allowed;
}

.ship {
  background: rgb(6, 75, 35);
  border: solid 1px rgb(6, 75, 35);

}

.shoot_miss {
  background: rgb(86, 153, 240);
}

.shoot_ship {
  background: rgb(206, 104, 64);
  border: solid 1px rgb(206, 104, 64);
}

.ship_sunken {
  background: rgb(252, 3, 3);
  border: solid 1px rgb(252, 3, 3);
}

.last-hit{
  border: 5px solid rgba(9, 64, 78, 0.959);
}
